# Log / tmp directories 
**/logs/
**/tmp/
**/old_scripts/
**/recycler/

# cellranger arc files 
#code/cellranger/logs/
code/cellranger/__*.mro
code/cellrangerARC_reanalyze/__*.mro

### Cellranger-arc raw data symbolic links
**/raw-data/

### Big files
# Here lived the main results of the cellranger-count pipeline. We do not control version this results.  
Nextflow/
processed-data/NextflowResults/
processed-data/cellrangerARC/
processed-data/cellrangerARC_reanalyze/
processed-data/cellrangerGEX/
processed-data/cellrangerATAC/
processed-data/**/*.rds
