# cellranger arc output logs
code/cellranger/logs/
coe/cellranger/tmp/
code/cellranger/cellranger*.err
code/cellranger/cellranger*.out
code/logs/

# Cellranger-arc raw data symbolic links
raw-data/path_atac
raw-data/path_snrna
raw-data/FASTQ/

# Here lived the results of the cellranger-count pipeline  
processed-data/cellrangerARC/

# Nextflow for cellranger-arc
Nextflow/



# Seurat objects with chromatine data RDS objects
#processed-data/03_QCs_preprocessing_GEX_ATAC/*.rds
# Temporal directories
#plots/03_QCs_preprocessing_GEX_ATAC/tmp/
#processed-data/03_QCs_preprocessing_GEX_ATAC/tmp/
#processed-data/04_QCs_preprocessing_ATAC/tmp/


